
body{
    box-sizing: border-box;
    margin: 0;
    background-color: lightgray;
}

.container{
    background-color: white;
    line-height: 18px;
    margin-bottom: 25px;
    min-width: 1000px;
}

.main-title{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
    margin-left: 15px;
}

main{
    background-color:white;
    min-height: 610px;
    width: 1000px;
    margin: auto;
    border-radius: 10px;
}

.button{ 
    margin-top: 15px;
    border-radius: 10%;
    padding: 5px;   
}

.task{
    background-color: #47ADF1;;
    color: white;
    margin-left: 15px;
    border: 2px solid #47ADF1;;
}

.section{
    background-color:white;
    color:gray ;
    border: 2px solid gray;
    margin-left: 5px;
}

hr{
   border: 2px solid gray; 
}

.min-title{
    display: inline-block;
    margin-bottom: 0;
}

.to-do{
    margin-left: 20px;
}

.task-list{
    margin-top: 15px;
}

.flag{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: darkgreen;
    border: 2px solid green;
    border-radius: 20px;
    margin-right:10px;
    font-size: x-small;
}

.label{
    display: inline-block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    padding: 2px;
}

.editorial{
    background-color: #45ABEA;
}

.goals{
    background-color:#9C72E4;
}

.cross{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: red;
    border: 2px solid red;
    border-radius: 75%;
    margin-right: 10px;
    font-size: x-small;
}

.recruiting{
    background-color:#64C0A9;
}

.mobile{
    background-color: #F29E33;
}

.website{
    background-color: #D865A2;
}

.sales{
    background-color:#B0C926;
}

.test{
    font-weight: bold;
    font-size: large;
}